@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Trivia Quiz</h1>
    

    <div>
        @Html.ActionLink("Start Quizz!", "Start")
    </div>

</div>
